<div class="tab-content active-tab-content tab-option">
	<div class="field m-b-20 file-upload-container">
		<h3 class="text-left">Введите входные данные</h3>
		<div class="alert alert-success">Ваш файл загружен</div>
		<div class="alert alert-danger">Файл должен иметь расширение txt</div>
		<div class="beautiful-upload"></div>
		<%= file_field_tag :input, onchange: "handleFilesStatistic(this)", class: 'upload' %>
	</div>

	<div class="row menu-option m-b-30">
		<h3 class="text-left p-l-15">Выбор отображения интерфейса</h3>
		<div class="field col-md-6">
			<div class="material-switch">
				<input type="checkbox" class="someSwitchOptionSuccess" id="tab-statistic" data-tab-name="tab-statistic" checked> 
				<label for="tab-statistic" class="label-success"></label>
			</div>
			<div class="checkbox-label">Статистические параметры</div>
		</div>
		<div class="field col-md-6">
			<div class="material-switch">
				<input type="checkbox" class="someSwitchOptionSuccess" id="tab-graphic" data-tab-name="tab-graphic" checked> 
				<label for="tab-graphic" class="label-success"></label>
			</div>
			<div class="checkbox-label">График</div>
		</div>
		<div class="field col-md-6">
			<div class="material-switch">
				<input type="checkbox" class="someSwitchOptionSuccess" id="tab-spectre" data-tab-name="tab-spectre" checked> 
				<label for="tab-spectre" class="label-success"></label>
			</div>
			<div class="checkbox-label">Модуль ДПФ</div>
		</div>
		<div class="field col-md-6">
			<div class="material-switch">
				<input type="checkbox" class="someSwitchOptionSuccess" id="tab-histogram" data-tab-name="tab-histogram" checked> 
				<label for="tab-histogram" class="label-success"></label>
			</div>
			<div class="checkbox-label">Гистограмма</div>
		</div>
		<div class="field col-md-6">
			<div class="material-switch">
				<input type="checkbox" class="someSwitchOptionSuccess" id="tab-correlation" data-tab-name="tab-correlation" checked> 
				<label for="tab-correlation" class="label-success"></label>
			</div>
			<div class="checkbox-label">Корреляционная функция</div>
		</div>
		<div class="field col-md-6">
			<div class="material-switch">
				<input type="checkbox" class="someSwitchOptionSuccess" id="tab-periodgramma" data-tab-name="tab-periodgramma" checked> 
				<label for="tab-periodgramma" class="label-success"></label>
			</div>
			<div class="checkbox-label">Энергетический спектр</div>
		</div>
	</div>

	<h3 class="text-left">Выбор отображения статистических параметров</h3>
	<%= form_with scope: :data, url: create_main_path, class: 'input-data-form' do |f| %>	
		<!-- <div class="field">
			<%= f.hidden_field :input, id: 'hidden-data' %>
		</div> -->

		<div class="row">
			<%= fields_for :attr do |checkbox_attribute| %>
				<% @attributes.each do |attribute| %>
					<% if ![:mean, :standard_deviation].include?(attribute) %>
						<div class="field col-md-6">
							<div class="material-switch">
								<%= checkbox_attribute.check_box attribute, checked: true, class: "someSwitchOptionSuccess" %>
								<%= checkbox_attribute.label attribute, "test", class: "label-success" %>
							</div>
							<div class="checkbox-label">
								<%= @attribute_labels[attribute] %>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>

		<div class="row menu-option mmp col-md-12 m-b-30">
			<h3 class="text-left">Дополнительные параметры</h3>
			<div class="form-group col-md-5 additional-form">
				<label>Длина секции</label>
				<%= f.text_field :dlina, value: "256", class: 'form-control' %>
			</div>
			<div class="form-group col-md-5 col-md-offset-1 additional-form" style="padding-left: 30px;">
				<label>Смещение секции</label>
				<%= f.text_field :smechenie, value: "10", class: 'form-control' %>
			</div>
			<div class="form-group col-md-5 additional-form" style="display: none;">
				<label>Длина БПФ</label>
				<%= f.hidden_field :dlinabpf, value: "64", class: 'form-control' %>
			</div>
			<div class="form-group col-md-5 additional-form">
				<label>Вид окна</label><br/>
				<%= f.select :vidokna, [["Прямоугольное", "rectangle"], ["Треугольное", "triangle"], ["Хэмминга", "hamming"], ["Блэкмана", "blackman"]], {include_blank: true}, { class: "form-control" } %>
			</div>
		</div>
	<% end %>
</div>
