<div class="output">
	<h3>Результаты вычислений:</h3>

	<% @results.each do |k, v| %>
	  <p><%= @attribute_labels[k.to_sym] %>: <%= v || "Невозможно вычислить" %></p>
	<% end %>

	<canvas id="inputData" width="300" height="100" data-input-numbers="<%= @input_numbers %>" data-input-labels="<%= @input_labels %>" data-mean="<%= @mean %>" data-standard_deviation="<%= @standard_deviation %>"></canvas>

	<canvas id="historgramaInputData" width="300" height="100" data-input-numbers="<%= @input_numbers %>" data-input-labels="<%= @input_labels %>"></canvas>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		chartEl = $('#inputData');
		idc(chartEl.data('input-labels'), chartEl.data('input-numbers'), chartEl.data('mean'), chartEl.data('standard_deviation'));

		histogramaEl = $('#historgramaInputData');
		
		idh(histogramaEl.data('input-labels'), histogramaEl.data('input-numbers'));
	})

</script>